/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.container {
  width: 870px;
  background: #ffffff;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 21px;
}
/* top players style*/
.top-player {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-top: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 18px;
  font-size: 18px;
}
/* top-blog style*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  margin-top: 30px;
}
.blog {
  display: flex;
  align-items: center;
}
.blog .blog-thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 18px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
/* courses style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-top: 30px;
}
.course {
  width: 252.42px;
  box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
}
.course .course-thumbnail img {
  width: 100%px;
  height: 104px;
}
.course-title {
  font-size: 18px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-info {
  width: 252.42px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.course-duration {
  background-color: #ff4a60;
  padding: 6px;
  opacity: 0.8;
  border-radius: 15px;
}
/* header */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #562eff;
  height: 94px;
}
.nav-bar-container {
  width: 870px;
  display: flex;
  justify-content: space-between;
}
.brand-name {
  display: flex;
  align-items: center;
}
.brand-name h3 {
  color: #ffffff;
  font-weight: normal;
}
.brand-name img {
  margin-right: 15px;
  width: 40.42px;
  height: 51px;
  font-weight: normal;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  margin-right: 15px;
  font-weight: normal;
}
.nav-link img {
  width: 51px;
  height: 51px;
}
/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    justify-content: center;
    flex-direction: column;
  }
  .blogs {
    width: 100%;
  }
  .blog {
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .brand-name {
    display: none;
  }
  .nav-bar-container {
    padding: 30px;
    flex-direction: column;
  }
  .nav-link {
    flex-direction: column;
    align-items: center;
  }
  .nav-container {
    height: 150px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .brand-name {
    margin-left: 10px;
  }
  .nav-link {
    margin-right: 80px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
